<!DOCTYPE html>
<html>
  <head>
    <title>SnowWolfD.JS</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/landing.css">
  </head>
  <body>
    <p>Bot logged in as <%= bot.user.username %>#<%= bot.user.discriminator %> (<%= bot.user.id %>)</p>
    <p>Serving <%= bot.guilds.size %> guilds and <%= bot.users.size %> users!</p>
    <a href="<%= inviteLink %>">Add me!</a>
    <% if(authUser) { %>
      <p><img src="<%= authUser.avatar %>" alt="<%= authUser.id %>" class="icon"> <%= authUser.username %>#<%= authUser.discriminator %> (<%= authUser.id %>)</p>
      <a href="/logout">Logout</a>
      <hr>
      <center>
        <div id="serverlist">
          <h1>Your Discord Servers</h1>
          <% for(i = 0; i < authUser.guilds.length; i++) { %>
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <p class="server"><img src="<%= getGuildInfo(authUser.guilds[i]).icon %>" alt="<%= getGuildInfo(authUser.guilds[i]).id %>" class="icon"> <%= getGuildInfo(authUser.guilds[i]).name %></p>
                </div>
                <div class="back">
                  <p>
                    <% if(botInGuild(authUser.guilds[i])) { %>
                      <span><b>Bot in Guild</b></span>
                    <% } else { %>
                      SnowWolf is not on this server... <a href="<%= inviteLink %>">Add</a> it!
                    <% } %>
                  </p>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </center>
    <% } else { %>
      <a href="/login">Login</login>
    <% } %>
  </body>
</html>
